<!DOCTYPE html>

<html>
    <head>
        <title>Quem Somos - DVMotos</title>

        <meta charset="utf-8">
		<link rel="stylesheet" href="../../public/css/style.css">

    </head>

    <body>
        <div class="navegacao">
			<ul>
				<li>Home</li>
				<li><a href="quemsomos.html">Sobre Nós</a></li>
				<li>Contato</li>
			</ul>
		</div>

        <div class="apresentacao">

            <img class="img-marca" src="../../public/assets/2.png" alt="Foto da marca DVMotos Store">

            <h2>Quem Somos</h2>

            <hr>

            <p>Fundada em 2017, no Brasil, a DVMotos Store é uma empresa de revenda de motos de mais diversos fabricantes e acessórios de todos os tipos. Como filosofia interna, visamos o melhor atendimento de venda e pós venda dos veículos e de qualquer dos nossos produtos, com qualidade de serviço de manuntenção e reparação, visando o bem estar dos nossos clientes.</p>

            <p>Com nossa loja física em várias partes do Brasil, buscamos sempre alcançar mais lugares com a qualidade de que nossos clientes precisam.</p>

            <p>No e-commerce, com mais de 30 produtos a pronta entrega, com a logística bem estruturada, visamos rapidez para a entrega. E com a inserção de novas tecnologias, buscamos sempre melhorar nossa relação entre empresas e clientes e, com isso, melhorar nossos serviços prestados.</p>

        </div>

        <div class="quem-somos">
            <h2>Missão</h2>
            <hr>

            <p>Trazendo mais conforto e segurança para pessoas e empresas e levar inspiração para todos.</p>

            <h2>Visão</h2>
            <hr>

            <p>Ser referência no atendimento e na qualidade de seus produtos, tanto os veículos quanto os equipamentos de segurança.</p>

            <h2>Valores</h2>
            <hr>
            
            <p>Modernidade, acessibilidade, responsabilidade, compromisso, verdade, diversidade e boa relação.</p>
        </div>

    </body>

</html>