<!DOCTYPE html>

<html>
    <head>
        <meta charset = "utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel = "stylesheet" href = "../../public/css/stylesViewProduto.css">
        <title>View Produto DVMotos</title>
    </head>

    <body>
      <div class="container">
        <div class="row">
         
          <div class="col-sm-8 colunaEsquerda">
            <h1>DVMotos > Produtos > View Produto</h1>
            <img class = "foto1" src="../../public/img/Imagem Moto.jpeg" alt="Imagem Moto">
            <img class = "foto2" src="../../public/img/Imagem Moto 2.jpeg" alt="Imagem Moto">
          </div>
         
         
         
          <div class="col-sm-4 colunaDireita">
            <h1>Harley Davidson</h1>
            <h2>A partir de</h2>
            <h3>R$53.310</h3>
            <h4>Escolha a cor: </h4>
                <div class="form-check form-check-inline Opcoes">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
                    <label class="form-check-label" for="inlineRadio1">Preto</label>
                  </div>
                  <div class="form-check form-check-inline Opcoes">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
                    <label class="form-check-label" for="inlineRadio2">Branco</label>
                  </div>
                  <div class="form-check form-check-inline Opcoes">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="opcao3">
                    <label class="form-check-label" for="inlineRadio3">Prata</label>
                  </div>
                  <button type="button" class="btn btn-warning"><b>COMPRAR AGORA</b></button>
              <h5>Descrição:</h5>
              <p>Esta é a motocicleta certa para quem busca o estilo icônico de uma Harley Davidson e o ronco do V-Twin</p>
              <p>Potência de peso médio combinada com dirigibilidade de precisão</p>
              <p>Motor V-Twin Evolution de 883 cm³ refrigerado a ar</p>
              <p>Estilo Harley-Davidson autêntico em todos os detalhes, esbanjando força. O motor Evolution® de 883 cm3 com suportes de borracha oferece força e leveza por milhares de quilômetros. Você vai se preocupar apenas em aproveitar a liberdade das avenidas e ruas.</p>

          </div>
        
        
        
        </div>
      </div>
    </body>

</html>