body {
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif !important;
    background-color: whitesmoke !important;
}

/** botões **/

    .btn.btn-warning.botao-padrao {
        background-color: #FFCE07 !important;
        border-color: #FFCE07 !important;
        color: white !important;
    }

    .btn.btn-warning.botao-padrao:hover {
        background-color: #FFCE07 !important;
        border-color: #FFCE07 !important;
        color: #070607 !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    #botao-produtos {
        margin: 20px;
    }

/** texto **/

    h2 {
        font-size: 24px;
        font-weight: 600;
        color: #FFCE07 !important;
    }

    h4 {
        color: #070607;
        text-transform: uppercase;
        font-size: 14px !important;
    }

/** links **/
    .link-pagina {
        color: #FFCE07 !important;
        font-weight: bold !important;
    }

    .link-produto {
        color: #070607 !important;
    }

    .link-produto:hover {
        color: #FFCE07 !important;
        cursor: pointer !important;
        text-decoration: none !important;
    }

    .link-categoria {
        color: #070607 !important;
        text-transform: uppercase;
        font-size: 14px !important;
        font-weight: normal !important;
    }

    .link-categoria:hover {
        color: #383438 !important;
        text-transform: uppercase;
        font-size: 14px !important;
        text-decoration: none !important;
        font-weight: 700 !important;
    }

/** cards **/
    .card-text {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .card-title {
        font-weight: 800;
    }

    .card-body {
        text-align: center;
    }

/** área produtos **/
    .row.justify-content-between.geral-produtos {
        width: 80% !important;
        margin-left: 10% !important;
    }

    .row.justify-content-between.destaque-produtos {
        width: 75% !important;
        margin-left: 12.5% !important;
        margin-top: 40px;
        margin-bottom: 20px;
    }

/** barra pesquisa **/
    .principal {
        background-color: whitesmoke !important;
    }

    .breadcrumb {
        margin: 10px 4px !important;
        background-color: whitesmoke !important;
    }

    .form-inputs {
        position: relative
    }

    .form-inputs .form-control {
        height: 45px
    }

    .form-inputs .form-control:focus {
        box-shadow: none;
        border: 1px solid #000;
    }

    .form-inputs i {
        position: absolute;
        right: 10px;
        top: 15px
    }

    .qty {
        font-size: 12px
    }

/** paginação **/
    .page-link {
        background-color: #070607 !important;
        border: 1px solid whitesmoke;
    }

    .pagination {
        margin-top: 25px !important;
        margin-bottom: 30px !important;
    }