body{
    font-family: arial !important;
}

.navbar-home{
    background-color: black !important;
}

footer {
	background-color:#070607;
    padding: 3em 0;
	padding-bottom: 40px;
	border-top: 5px solid #FFCE07;
}

footer h2, footer p, footer a, footer span {
	color: #808080;
}

footer h2 {
	font-weight: 400;
}

footer a {
	text-decoration: none;
}

footer ul {
	padding: 0;
}

footer li {
	list-style: none;
}

.footer-box {
	width: 31%;
	padding: 1%;
	float: left;
}

footer .wrapper:after {
	clear: both;
	content: "";
	display: block;
}

.company-footer {
	width: 80%;
}

.logo-footer{
    padding: 0 0 50px 50px;
}


.footer-list li {
	margin-bottom: 15px;
}

.footer-list a {
	transition: 0.5s;
}

.footer-list a:hover {
	color: #FFCE07;
}

.footer-list li:after {
	clear: both;
	content: "";
	display: block;
}

.articles-footer {
	width: 80%;
}

.footer-list.footer-article-list span {
	display: block;
	float: none;
}

.fab {
	font-size: 30px;
	margin-right: 10px;
	float: left;
}

.footer-list li span {
	float: left;
	height: 30px;
	line-height: 30px;
}

.footer-bottom {
	border-top: 1px solid #FFCE07;
}

.footer-bottom p {
    text-align: center;
	font-weight: 600;
	margin-top: 40px;
}