body {
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif !important;
    background-color: whitesmoke;
}

.carousel.slide {
    box-shadow: rgba(0, 0, 0, 0.247) 0px 25px 20px -20px;
    margin-bottom: 50px;
}

.btn.btn-warning {
    background-color: #FFCE07 !important;
    border-color: #FFCE07 !important;
    color: white !important;
}

.btn.btn-warning:hover {
    background-color: #FFCE07 !important;
    border-color: #FFCE07 !important;
    color: #070607 !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.row.justify-content-between {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    color: #FFCE07 !important;
}

.card-title {
    font-weight: 800;
}

.card-body {
    text-align: center;
}

.col-sm.my-3.d-flex.justify-content-center.call-to-action {
    background-color: #070607;
    height: 15rem;
    margin: 20px;
    align-items: center;
}

.call-to-action h3 {
    color: whitesmoke;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5%;
    margin-left: 18%;
    margin-right: 18%;
}

.btn.btn-warning.btn-call-to-action {
    background-color: #070607 !important;
    border-color: #FFCE07 !important;
    color: #FFCE07 !important;
    font-weight: bold;
}

.btn.btn-warning.btn-call-to-action:hover {
    background-color: #FFCE07 !important;
    border-color: #FFCE07 !important;
    color: #070607 !important;
    font-weight: bold;
}

#botao-produtos {
    margin: 20px;
}

.linha {
    width: 80%;
    height: 1px;
    margin-top: 40px;
    margin-left: 10%;
    margin-bottom: 30px;
    background-color: lightgray;
}