/* Elementos */

body {
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif !important;
    color:white !important;
    background-color: #070607 !important;
}

.conteudo-pagina {
    margin-left: 250px !important;
    margin-right: 250px !important;
}

/* Classes */

.instrucoes {
    text-align: center !important;
}

.instrucoes h1 {
    margin-top: 100px !important;
    color: #FFCE07 !important;
}

.instrucoes p {
    font-size: 24px !important;
}

.entrar-contato {
    text-align: center !important;
}

.form-floating {
    color:#808080 !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.mapa {
    text-align: center !important;
}

.mapa h1 {
      margin-bottom: 25px !important;
      margin-top: 120px !important;
      color: #FFCE07 !important;
}

.local {
    margin-bottom: 50px !important;
}

.telefone {
    color: #FFCE07 !important;
    margin-top: 50px !important;
    margin-bottom: 100px !important;
    text-align: center !important;
}

@media(max-widht: 750px) {
    .instrucoes {
        margin-left: 150px !important;
        margin-right: 150px !important; 
    }

    .mapa {
        width: 100% !important;
    }

    iframe {
        margin-left: 150px !important;
        margin-right: 150px !important;
    }
}