/* Elementos */

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Arial Rounded MT Bold';
    background-color: #F5F5F5;
}

/* Classes */

/*Quem Somos */

.navegacao {
    height: 40px;
}

.navegacao ul {
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;
    text-align: right;
    height: 40px;
}

.navegacao li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 40px;
    font-size: 18px;
}

.apresentacao {
    padding: 60px 130px 20px 60px;
}

.apresentacao p {
    text-align: justify;
    font-size: 17px;
}

.caminho {
    list-style: none;
    padding: 0;
}

.caminho li {
    display: inline-block;
}

.caminho ul {
    padding-left: 60px;
}

.img-marca {
    float: left;
    border-radius: 25px;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.quem-somos {
    padding-left: 60px;
    padding-bottom: 50px;
    padding-right: 60px;
}

.quem-somos h2 {
    margin-top: 30px;
    font-size: 20px;
}

.quem-somos p {
    text-align: justify;
}